<% include partials/header %>
<div class="container">
    <h1 class="text-center mb-5">Add new campground</h1>

    <form action="/campgrounds" method="POST">
        <input class="form-control my-2" type="text" placeholder="Name" name="name">
        <input class="form-control my-2" type="text" placeholder="Image URL" name="image">
        <input class="form-control my-2" type="text" placeholder="Description" name="description">
        <button class="btn btn-primary btn-block my-2"> Submit</button>
    </form>
</div>
<% include partials/footer %>